# ------------------------------------------------------------------ #
# ----- Config variables ------------------------------------------- #
# ------------------------------------------------------------------ #
local_file_path=/tmp/deployed_dependencies                                # Local path to file with deployed dependencies
remote_file_path=</Full/path/on/remote/machine/to/deployed_dependencies>  # Path on remote to file with deployed dependencies

ssh_key=<SSH key name>   # SSH key file name
ssh_user=<SSH username>  # SSH username
ssh_host=<SSH host IP>   # SSH host IP address



# ------------------------------------------------------------------ #
# ----- Little helper for easier output formatting ----------------- #
# ------------------------------------------------------------------ #
bold=$(tput bold)
smul=$(tput smul)
red=$(tput setaf 1)
green=$(tput setaf 2)
normal=$(tput sgr0)
included="    <-- Already deployed"
